<template>
  <div>
    <el-form ref="elForm" :model="formData" :rules="rules" size="small" label-width="100px">
      <el-form-item label="手机号" prop="mobile">
        <el-input v-model="formData.mobile" placeholder="请输入手机号" :maxlength="11" show-word-limit clearable prefix-icon="el-icon-mobile" :style="{ width: '100%' }"></el-input>
      </el-form-item>
      <el-form-item label="上传" prop="field101" required>
        <el-upload ref="field101" :file-list="field101fileList" :action="field101Action" :before-upload="field101BeforeUpload">
          <el-button size="small" type="primary" icon="el-icon-upload">点击上传</el-button>
        </el-upload>
      </el-form-item>
      <el-row gutter="15">
        <el-form-item label="时间范围" prop="field103">
          <el-time-picker
            v-model="formData.field103"
            is-range
            format="HH:mm:ss"
            value-format="HH:mm:ss"
            :style="{ width: '100%' }"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            range-separator="至"
            clearable></el-time-picker>
        </el-form-item>
        <el-form-item label="时间范围" prop="field104">
          <el-time-picker
            v-model="formData.field104"
            is-range
            format="HH:mm:ss"
            value-format="HH:mm:ss"
            :style="{ width: '100%' }"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            range-separator="至"
            clearable></el-time-picker>
        </el-form-item>
      </el-row>
      <el-form-item size="large">
        <el-button type="primary" @click="submitForm">提交</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  components: {},
  props: [],
  data() {
    return {
      formData: {
        mobile: '',
        field101: null,
        field103: null,
        field104: null
      },
      rules: {
        mobile: [
          {
            required: true,
            message: '请输入手机号',
            trigger: 'blur'
          },
          {
            pattern: /^1(3|4|5|7|8|9)\d{9}$/,
            message: '手机号格式错误',
            trigger: 'blur'
          }
        ],
        field103: [
          {
            required: true,
            message: '时间范围不能为空',
            trigger: 'change'
          }
        ],
        field104: [
          {
            required: true,
            message: '时间范围不能为空',
            trigger: 'change'
          }
        ]
      },
      field101Action: 'https://jsonplaceholder.typicode.com/posts/',
      field101fileList: []
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    submitForm() {
      this.$refs['elForm'].validate(valid => {
        if (!valid) return;
        // TODO 提交表单
      });
    },
    resetForm() {
      this.$refs['elForm'].resetFields();
    },
    field101BeforeUpload(file) {
      let isRightSize = file.size / 1024 / 1024 < 2;
      if (!isRightSize) {
        this.$message.error('文件大小超过 2MB');
      }
      return isRightSize;
    }
  }
};
</script>
<style>
.el-upload__tip {
  line-height: 1.2;
}
</style>
