<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-10-17 14:37:58
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-10-17 16:09:50
 * @FilePath: /el-form-build/src/views/home/index.vue
-->
<template>
  <div class="container-warp">home</div>
</template>

<script>
export default {
  name: '',
  data() {
    return {};
  },

  computed() {},

  created() {},

  mounted() {},

  methods: {}
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
